<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header id="intro">

        <article class="fullheight">
            <div class="hgroup">
                <h1>Landon Hotel</h1>
                <h2>West Londons</h2>
            <p><a href="#welcome"><img src="images/misc/arrow.png" alt="down arrow"></a></p>
            </div>
        </article>
        
        <nav id="nav">
            <div class="navbar">
                <div class="brand"><a href="#welcome">Landon<span>Hotel</span></a></div>
                <ul>
                    <li><a href="#hotelinfo" class="icon info"><span>info</span></a></li>
                    <li><a href="#rooms" class="icon rooms"><span>rooms</span></a></li>
                    <li><a href="#dining" class="icon dining"><span>dining</span></a></li>
                    <li><a href="#events" class="icon events"><span>events</span></a></li>
                    <li><a href="#attractions" class="icon attractions"><span>attractions</span></a></li>
                </ul>
            </div>
        </nav>

    </header>

    <main id="wrapper">
        <div class="scene" id="welcome">
            <article class="content">
                <div class="gallery">
                    <img src="images/hotel/intro_room.jpg" alt="Intro Gallery">
                    <img src="images/hotel/intro_pool.jpg" alt="Intro Gallery">
                    <img src="images/hotel/intro_dining.jpg" alt="Intro Gallery">
                    <img src="images/hotel/intro_attractions.jpg" alt="Intro Gallery">
                    <img src="images/hotel/intro_wedding.jpg" alt="Intro Gallery">
                </div>
                <h1>Welcome to the Landon Hotel</h1>
                <p>The original Landon persevers after <strong>{{ year }}</strong> years in the head of ...
                    End 
                    neighborhood has something for everyone from theater to dining to history
                </p>
            </article>
        </div> <!-- welcome -->
            <div class="scene" id="hotelinfo">
                <article class="heading">
                    <h1>Essential info</h1>
                </article>
                <article id="usefulinfo">
                    <section id="arrivalinfo">
                        <h2>Arrival information</h2>
                        <ul>
                            <li><strong>Check-in:</strong>3:00PM</li>
                            <li><strong>Check-out</strong>11;00AM</li>
                            <li><strong>Parking</strong>Self-parking in the underground garage</li>
                            <li><strong>Airport Shuttle</strong>Our complementary airport</li>
                            <li><strong>Trains</strong>The nearest underground station is at..</li>
                            <li><strong>Pet policy/strong>Pets off all sizes and types are ..;</li>
                        </ul>
                    </section>
                    <section class="checklist" id="services">
                        <h2>Accessibility</h2>
                        <p>We're commiting to maintaining the same of service for every customer</p>
                        <ul>
                            <li>Indoor pool</li>
                            <li>24-hour fitness center</li>
                            <li>Massage therapy</li>
                            <li>Full service spa/li>
                            <li>In room jacuzzy tubes</li>
                            <li>Rooftop café & smoothie bar</li>
                            <li>LTraditional continental breakfast</li>
                            <li>24-hours concierge service/li>
                            <li>Business center</li>
                            <li>Complementary wireless service</li>
                            <li>Laundry and dry cleaning servicers</li>
                            <li>DAily paper</li>
                            <li>Certified "green" hotel</li>
                        </ul>
                    </section>

                    <section class="checklist" id="accessibility">
                        <h2>Accessibility</h2>
                        <p>We're commiting to maintaining the same of service for every customer</p>
                        <ul>
                            <li>Grab bars on tube walls</li>
                            <li>Shower chairs</li>
                            <li>Hand held shower sprayers</li>
                            <li>Higher toilet & toilet modifiers</li>
                            <li>Lowaer sink faucet handles</li>
                            <li>Wheelchair clearance under sink vanity</li>
                            <li>Lower racks in closet</li>
                            <li>TDD machines</li>
                            <li>Telephone light signalers and smok alarms</li>
                            <li>Telephone amplification handset</li>
                            <li>CLoased captioned television converters</li>
                            <li>Vibrating alarms clocks</li>
                            <li>Telephones with volum controls</li>
                        </ul>
                    </section>
                </article>

                <article id="greenprogram">
                    <h2>Landon green Program</h2>
                    <p><strong>he Landon Hotel - London</strong> was recently renovated, ap</p>
                </article>

            </div> <!-- hotelinfo -->

            <div class="scene" id="rooms">
                <header>
                    <h1>Guest Rooms</h1>
                    <p>Our guest rooms feature sumptuous classic furnishings that evoke visitors...</p>
                </header>
            </div>
            <article id="areadining">
                <h1>Dining in the area</h1>
                <p>The West end is a foodie paradise, and the landon Hotel is in the..</p>
            </article>

            <article id="inhotel">
                <section id="rooftopcafe">
                    <h2>Rooftop café</h2>
                    <img src="images/hotel/dining_rooftop.jpg" alt="">
                    <p>Landon rooftop Cafe is the destination for five star dining. our....</p>
                </section>

                <section id="smoothiebar">
                    <h2>Smoothie Bar</h2>
                    <img src="images/hotel/dining_smoothiebar.jpg" alt="">
                    <p>TThe Rooftop smoothis Bar gives you panoramic views of the city</p>
                </section>

                <section id="cofeebar">
                    <h2>Breakfast & Cofee Bar</h2>
                    <img src="images/hotel/dining_lattes.jpg" alt="">
                    <p> Our Conditional Breakfast and coffe bar locaed adjacent to our</p>
                </section>    

            </article>

            <article id="roomservice">
                <h1>Room service</h1>
                <p>You'd rather stzy in your room and enjoy quiet evening in, or kola ...</p>
            </article>

        </div> <!-- dining -->

        <div class="scene" id="events">

            <article class="event fullheight" id="businessmeeting">
                <div class="content">
                    <h2>Business Meeting</h2>
                    <p>Our hotel boast wireless internet in every common room, and guest...</p>
                </div> <!-- content -->
            </article> <!-- article -->

            <article class="event fullheight" id="weddings">
                <div class="content">
                    <h2>Wedding & socials Events</h2>
                    <p>When you entrust us to handle your wedding, or other event, you ...</p>
                </div> <!-- content -->
            </article> <!-- article -->
        
            <article class="scene fullheight" id="attractions">
                <div class="content">
                    <h1>Wedding & Social Events</h1>
                    <p>When you entrust us to handle your wedding, or other event</p>
                </div> <!-- content-->
            </article> <!-- article -->

        </div> <!-- events -->
        <div class="scene fullheight" id="attractions">
            <article class="content">
                <h1>Local Attractions</h1>
                <p>Whether you're a theather enthusiast, enjoy epic shopping, or love to</p>
            </article>
        </div> <!-- attractions -->

    </main>

    <footer class="scene">
        <article class="content">
            <div id="socialmedia">
                <ul class="group">
                    <li><a href="https:/www.twitter.com"><img src="images/socialmedia/twitter.jpg" alt="" srcset="" class="icon"></a></li>
                    <li><a href="http://www.facebook.com"><img src="images/socialmedia/facebook.jpg" alt="" srcset="" class="icon"></a></li>
                    <li><a href="http://www.youtube.com"><img src="images/socialmedia/youtube.jpg" alt="" srcset="" class="icon"></a></li>
                </ul>
            </div>
        </article>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>